<app-navbar></app-navbar>
<div class="container">
<div class="contact-info">
  <h2 class="m-2 pt-2">Dhaval Tandale</h2>
  <h3 class="m-2">Programmer Analyst (Cognizant)</h3>
</div>

<div class="contact-info">
  <h5 class="m-2 ">LinkedIn :- <a href="https://linkedin.com/in/dhaval-tandale-3a4625168">https://linkedin.com/in/dhaval-tandale-3a4625168</a> </h5>
  <h5 class="m-2 ">Github :- <a href="https://github.com/dhavaltan">https://github.com/dhavaltan</a></h5>
  <h5 class="m-2 ">Email :- dhaval.tan@gmail.com</h5>
</div>
</div>